#q {
   text-align: center;
}

img {
   float: right;
   width: 200px;
   height: 200px;
}

#header {
   margin-top: 25px;
   margin-left: 50px;
   margin-bottom: 25px;
}

#w {
   text-decoration: underline black;
}

table,
td {
   border: solid gray 2px;

}

.ko {
   margin-bottom: 10PX;
}

table {
   justify-content: center;
   text-align: center;
   align-items: center;
}

.img {
   height: 100px;
   width: 90px;
}
#tyu{
   text-align: center;

}
#www{
    text-align: center;
    
}